<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<p>Hostname noda je:</p>
	<div class="container">
		<div th:text="${server}">Fake content</div>
  </div>
	<p>Broj pristupa ovom nodu:</p>
	<div class="container">
		<div th:text="${url}">Fake content</div>
  </div>
	<p>Broj pristupa sajtu:</p>
	<div class="container">
		<div th:text="${total}">Fake content</div>
	</div>
</body>
</html>
